/*--------------responsive desktop----------*/
body a {
    text-decoration: none;
    color: black;
}
body li {
    list-style: none;
}
/*--------------------polices----------------*/
h1,
.colonne h3 {
    font-family: 'Shrikhand', cursive;
}
body {
    font-family: 'Roboto', sans-serif;
}
/*------------logo----------*/
header .logo {
    width: 60%;
    margin-left: 20%;
}
/*--fleche de retour sur les cartes menus---*/
.contenaireentete .fa-arrow-left {
    display: flex;
    flex-wrap: wrap;
    font-size: 2em;
    padding-right: 3em;
    margin-left: 1em;
}
/*-------------------localisation--------------------*/
.formulaire/*zonedetexte*/ {
    width: 100%;
    height: 2em;
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    border-top: 1px solid lightgrey;
}
.fa-map-marker-alt/*icone localisation*/ {
    position: absolute;
    padding-top: 0.3em;
}
::placeholder {
    padding-left: 1em;
}
h1 {
    font-size: 2em;
    text-align: center;
}
.explorer p {
    text-align: center;
}
/*----------------bouton explorer------------------*/
.explorer li {
    border-radius: 45px;
    font-size: 1.3em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    padding: 0.8em;
    background: linear-gradient(#FF79DA, #9356DC);
    text-align: center;
}
.explorer li:hover {
    box-shadow: 0 0 20px #9356DC;
}
/*------filtres--de--fonctionnement---*/
.filtres li/*----filtres----*/ {
    background-color: #F6F6F6;
    margin-left: 1em;
    margin-bottom: 1em;
    border-radius: 15px;
    padding: 1em 0 1em 0em;
}
.filtres li:hover {
    background-color: pink;
    box-shadow: 0 0 20px pink;
}
.filtres a {
    color: black;
}
.numero {
    color: white;
    display: inline;
    margin-left: -10px;
    margin-right: 2em;
    padding: 0.4em;
    border-radius: 50%;
    background-color: #9356DC;
}
.fa-mobile-alt,
.fa-list,
.fa-store/*---icone filtres--*/ {
    margin-right: 1em;
    font-size: 1.2em;
}
.i:hover {
    background: linear-gradient(#FF79DA, #9356DC);
}
/*--------------restaurants---------------*/
aside {
    background-color: #F6F6F6;
}
aside h2 {
    padding-top: 1.5em;
    margin-left: 1em;
}
.vignettesrestaurants {
    display: flex;
}
.vignettesrestaurants img {
    width: 100%;
    height: 12em;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}  
.vignettesrestaurants a {
    display: inline-block;
}
.vignettesrestaurants i {
    padding-left: 25%;
}
.vignettesrestaurants h3 {
    margin-top: 5px;
    margin-bottom: -30px;
    margin-left: 1em;
}
.vignettesrestaurants p {
    text-align: initial;
    margin-left: 1em;
}
.vignettesrestaurants .fa-heart {
    padding-right: 5em;
    margin-left: 13em;
    margin-right: 0.5em;
}
.lapalettedugout,
.lanoteenchantee,
.alafrançaise,
.ledelicedessens {
    border-radius: 20px;
    box-shadow: 0 0 20px #0000002e;
    background-color: white;
    margin-left: 1.2em;
    margin-bottom: 1em;
    width: 22%;
    height: auto;
}
.lapalettedugout:hover,
.lanoteenchantee:hover,
.alafrançaise:hover,
.ledelicedessens:hover {
    box-shadow: 0 0 20px #9356DC;
}
.nouveauresto {
    display: inline-block;
    position: relative;
}
.nouveauresto h4 {
    background-color: #99E2D0;
    color: #008766;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-left: 15%;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0.5em 1em 0.5em 1em;
}
/*--------pied de page---------*/
.colonne {
    background-color: #353535;
    width: 100%;
    height: 14em;
    margin-top: 0;
    padding-top: 1em;
}
.colonne h3 {
    color: white;
    margin-left: 1em;
    font-size: 1.5em;
}

.fa-utensils,
.fa-hands-helping {
    color: white;
    margin-right: 1em;
}
.lienfooter a {
    color: white;
}
.lienfooter li {
    margin: 1em;
}
/*------------------------------------*/
/*-----cartes des menus des restaurants---*/
/*-----------------desktop----------------*/

section img/*photo cartes resto*/ {
    width: 50%;
    height: auto;
    margin-left: 20%;
    border-radius: 15% 15% 0 0;
}
.carterestaurant {
    width: 100%;
    background-color: #F6F6F6;
    border-radius: 55px 55px 0 0;
    position: relative;
    top: -3em;
    padding-left: 0.7em;
    padding-bottom: 5em;
    padding-top: 1em;
}
.carterestaurant h2 {
    border-bottom: 3px solid #99E2D0;
    width: 2em;
}
.fa-heart /*logo coeur*/ {
    margin-left: 7em;
}
.plat {
    width:95%;
    background-color: white; 
    border-radius: 15px;
    box-shadow: 0 0 20px #0000002e;
    padding-left: 0.5em;
}
.plat h3 {
    padding-top: 0.5em; 
}
.plat h4 {
    margin-top: -0.7em;
    padding-bottom: 0.7em;
    font-size: 14px;
}
.plat p /*---tarif----*/ {
    position: absolute;
    right: 5em;
    top: 11em;
}
.commander li {
    border-radius: 45px;
    color: white;
    font-size: 1.3em;
    margin-top: 2em;
    margin-left: 4em;
    margin-right: 4em;
    padding: 0.8em;
    background: linear-gradient(#FF79DA, #9356DC);
    text-align: center;
}
/*-----------------------------------------*/
/*----------responsive tablette------------*/

@media screen and (min-width: 481px) and (max-width: 1120px) {
    .vignettesrestaurants {
        display: flex;
        flex-wrap: wrap;
    }
}
.commander li:hover {
    box-shadow: 0 0 20px #9356DC;
}
/*-----------------------------------------------------*/
/*------------responsive mobile-----------------------*/
/*-------------------------------------------------*/

@media screen and (max-width: 899px) {
    header .logo {
        max-width: 50%;
    }
    .contenaireentete {
        display: flex;
        flex-direction: row;
    }
    .contenaireentete .logo {
       max-width: 50%;
       height: auto;
    }
    .contenaireentete .fa-arrow-left {
        font-size: 1.2em;
        padding-top: 0.5em;
    }
    .fa-map-marker-alt/*icone localisation*/ {
        margin-left: 35%;
    }
    ::placeholder {
        padding-left: 40%;
    }
    /*------------Explorer--------*/
    .explorer {
        background-color: #F6F6F6;
        padding-top: 1px;
        padding-bottom: 4em;
    }
    .explorer h1 {
        font-size: 1.7em;
        padding: 1.2em 1.5em 0em 1.5em;
        text-align: center;
    }
    .explorer p {
        text-align: center;
        font-size: 1.3em;
    }
    .explorer a {
        color: white;
    }
    /*-------fonctionnement--------*/
    article h2 {
        margin-top: 2em;
    }
    /*-------restaurants----------*/
    aside {
        background-color: #F6F6F6;
    }
    aside h2 {
        padding-top: 1.5em;
        margin-left: 1em;
    }
    .vignettesrestaurants img {
        width: 100%;
        height: 12em;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }  
    .vignettesrestaurants a {
        display: inline-block;
    }
    .vignettesrestaurants i {
        padding-left: 7em;
    }
    .vignettesrestaurants h3 {
        margin-top: 5px;
        margin-left: 1em;
    }
    .vignettesrestaurants p {
        margin-left: 1em;
    }
    .lapalettedugout,
    .lanoteenchantee,
    .alafrançaise,
    .ledelicedessens {
        width: 90%;
    }
    .vignettesrestaurants {
        display: flex;
        flex-direction: column;
    }
    .nouveauté p /*icone nouveau*/ {
        background-color: #99E2D0;
        color: #008766;
        padding: 0.5em 0.5em 0.5em 0.5em;
        margin-left: 55%;
        position: absolute;
        top: 0;
        left: 70%;
        padding: 0.5em 1em 0.5em 1em;
    }
    .carterestaurant h1 {
        margin-right: 5em;
        font-size: 25px;
    }
    .carterestaurant i /*--coeur--*/ {
        position: absolute;
        left: 40%;
    }
}





