body a {
    text-decoration: none;
    color: black;
}
body li {
    list-style: none;
}
/*--------------------polices----------------*/
h1,
.colonne h3 {
    font-family: 'Shrikhand', cursive;
}
body {
    font-family: 'Roboto', sans-serif;
}
header .logo {
    margin-left: 40%;
}
/*----------------localisation---------------*/
.formulaire/*zonedetexte*/ {
    width: 100%;
    height: 2em;
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    border-top: 1px solid lightgrey;
}
.fa-map-marker-alt/*icone localisation*/ {
    position: absolute;
    padding-top: 0.3em;
}
::placeholder {
    padding-left: 1em;
}
/*----------------menu------------------*/
.explorer li/*bouton explorer*/ {
    border-radius: 45px;
    color: white;
    font-size: 1.3em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    padding: 0.8em;
    background: linear-gradient(#FF79DA, #9356DC);
    text-align: center;
}
.explorer li:hover {
    box-shadow: 0 0 20px #9356DC;
}
.filtres li/*----filtres----*/ {
    background-color: #F6F6F6;
    margin-left: 1em;
    margin-bottom: 1em;
    border-radius: 15px;
    padding: 1em 0 1em 0em;
}
.filtres li:hover {
    background-color: pink;
    box-shadow: 0 0 20px pink;
}
.numero {
    color: white;
    display: inline;
    margin-left: -10px;
    margin-right: 2em;
    padding: 0.5em;
    border-radius: 50%;
    background-color: #9356DC;
}
.fa-mobile-alt,
.fa-list,
.fa-store/*---icone filtres--*/ {
    margin-right: 1em;
    font-size: 1.2em;
}
/*--------------restaurants---------------*/
aside {
    background-color: #F6F6F6;
}
aside h2 {
    padding-top: 1.5em;
    margin-left: 1em;
}
.vignettesrestaurants img {
    width: 100%;
    height: 12em;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}  
.vignettesrestaurants a {
    display: inline-block;
}
.vignettesrestaurants i {
    padding-left: 7em;
}
.vignettesrestaurants h3 {
    margin-top: 5px;
    margin-bottom: -10px;
    margin-left: 1em;
}
.vignettesrestaurants p {
    margin-left: 1em;
}
.lapalettedugout,
.lanoteenchantee,
.alafrançaise,
.ledelicedessens {
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0 0 20px #0000002e;
    background-color: white;
    margin-left: 1.2em;
    margin-bottom: 1em;
    width: 20%;
    height: auto;
}
.nouveauresto {
    display: inline-block;
    position: relative;
}
.nouveauresto h4 {
    background-color: #99E2D0;
    color: #008766;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 70%;
    padding: 0.5em 1em 0.5em 1em;

}
.i:hover {
    background: linear-gradient(#FF79DA, #9356DC);
}
/*-------------------------------------*/
/*----------responsive mobile----------*/
/*-------------------------------------*/

@media screen and (max-width: 480px) {
    /*-----------En tete de page----------*/
    header .logo {
        max-width: 50%;
        margin-left: 30%;
    }
    .contenaireentete {
        display: flex;
        flex-direction: row;
    }
    .contenaireentete .logo {
       max-width: 50%;
       height: auto;
    }
    .contenaireentete .fa-arrow-left {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.2em;
        padding-right: 3em;
        padding-top: 0.5em;
        margin-left: 1em;
    }
    /*--------localisation--------*/
    .fa-map-marker-alt/*icone localisation*/ {
        position: absolute;
        margin-left: 35%;
    }
    ::placeholder {
        padding-left: 40%;
    }
    
    /*------------Explorer--------*/
    .explorer {
        background-color: #F6F6F6;
        padding-top: 1px;
        padding-bottom: 4em;
    }
    .explorer h1 {
        font-size: 1.7em;
        padding: 1.2em 1.5em 0em 1.5em;
        text-align: center;
    }
    .explorer p {
        text-align: center;
        font-size: 1.3em;
    }
    .explorer a {
        color: white;
    }
    
    /*-------fonctionnement--------*/
    article h2 {
        margin-top: 2em;
    }
    
    
    /*-------restaurants----------*/
    aside {
        background-color: #F6F6F6;
    }
    aside h2 {
        padding-top: 1.5em;
        margin-left: 1em;
    }
    .vignettesrestaurants img {
        width: 100%;
        height: 12em;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }  
    .vignettesrestaurants a {
        display: inline-block;
    }
    .vignettesrestaurants i {
        padding-left: 7em;
    }
    .vignettesrestaurants h3 {
        margin-top: 5px;
        margin-bottom: -10px;
        margin-left: 1em;
    }
    .vignettesrestaurants p {
        margin-left: 1em;
    }
    .lapalettedugout,
    .lanoteenchantee,
    .alafrançaise,
    .ledelicedessens {
        border-radius: 20px;
        box-shadow: 0 0 20px #0000002e;
        background-color: white;
        margin-left: 1.2em;
        margin-bottom: 1em;
        width: 90%;
    }
    .nouveauresto {
        display: inline-block;
        position: relative;
    }
    .nouveauresto h4 {
        background-color: #99E2D0;
        color: #008766;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 70%;
        padding: 0.5em 1em 0.5em 1em;

    }
    .i:hover {
        background: linear-gradient(#FF79DA, #9356DC);
    }
    /*---------pied de page -------*/
    .colonne {
        background-color: #353535;
        width: 100%;
        height: 14em;
        margin-top: 0;
        padding-top: 1em;
    }
    .colonne h3 {
        color: white;
        margin-left: 1em;
        font-size: 1.5em;
    }
    
    .fa-utensils,
    .fa-hands-helping {
        color: white;
        margin-right: 1em;
    }
    .lienfooter a {
        color: white;
    }
    .lienfooter li {
        margin: 1em;
    }
/*-------------------------------------------*/
/*-------carte des menus des restaurants------*/
/*--------------------------------------------*/

    img/*photo du resto*/ {
        width: 100%;
    }
    .carterestaurant {
        width: 100%;
        background-color: #F6F6F6;
        border-radius: 55px 55px 0 0;
        position: relative;
        top: -3em;
        padding-left: 0.7em;
        padding-bottom: 5em;
        padding-top: 1em;
    }
    .carterestaurant h2 {
        border-bottom: 3px solid #99E2D0;
        width: 2em;
    }
    .fa-heart /*logo coeur*/ {
        margin-left: 7em;
    }
    .plat {
        width:95%;
        background-color: white; 
        border-radius: 15px;
        box-shadow: 0 0 20px #0000002e;
        padding-left: 0.5em;
    }
    .plat h3 {
        padding-top: 0.5em; 
    }
    .plat h4 {
        margin-top: -0.7em;
        padding-bottom: 0.7em;
    }
    .commander li {
        border-radius: 45px;
        color: white;
        font-size: 1.3em;
        margin-top: 2em;
        margin-left: 4em;
        margin-right: 4em;
        padding: 0.8em;
        background: linear-gradient(#FF79DA, #9356DC);
        text-align: center;
    }
}




