body {
  h1 {
    font-family: 'roboto', sans-serif;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
}

.pied-de-page h3 {
  font-family: 'shrikhand' , cursive;
}

.loader {
  position: absolute;
  width: 99%;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 6s accueil forwards;
  pointer-events: none;
  -webkit-animation: 6s accueil forwards;
}
@keyframes accueil {
  100% {
    opacity: 0;
  }
}

.lettre {
  color: #9356dc;
  font-size: 90px;
  letter-spacing: 25px;
  font-family: 'shrikhand' , cursive;
  animation: 2s flash linear infinite;
  -webkit-animation: 2s flash linear infinite;
}

@keyframes flash {
  0% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
  90% {
    color: #9356dc;
    text-shadow: none;
  }
  100% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
}

