$primaire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
$background: #eaeaea;


body {
  h1 {
    font-family: 'roboto', sans-serif;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
}

.pied-de-page h3 {
  font-family: 'shrikhand' , cursive;
}

.loader {
  position: absolute;
  width: 99%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 3s accueil forwards;
  pointer-events: none;
  -webkit-animation: 3s accueil forwards;
}
@keyframes accueil {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.lettre {
  color: $primaire;
  font-size: 90px;
  letter-spacing: 25px;
  font-family: 'shrikhand' , cursive;
  animation: .5s flash linear infinite;
  -webkit-animation: .5s flash linear infinite;
}

@keyframes flash {
  0% {
    color: $secondaire;
    text-shadow: 0 0 7px $secondaire;
  }
  50% {
    color: $primaire;
    text-shadow: 0 0 7px $secondaire;
  }
  100% {
    color: $secondaire;
    text-shadow: 0 0 7px $secondaire;
  }
}
@for $i from 1 through 8 {
  .lettre:nth-child(#{$i}) {
    animation-delay: ($i * 0.1s);
  }
}