header .logo {
  margin-left: 20%;
  width: 40em;
}

.fa-arrow-left { /*uniquement menu resto*/
  position: absolute;
  left: 1px;
  top: 1em;
  font-size: 3em;
  margin-left: 1em;
  color: black;
}

.contenaire-en-tete .logo {
  margin-left: 20%;
  margin-top: 2em;
  width: 50%;
  padding-bottom: 2em;
  @media (min-width: 64em) {
    width: 20em;
    margin-left: 40%;
  }
}

section {     /*partie descriptif*/
  background-color: #f6f6f6;
  padding-bottom: 2em;
}

.formulaire {
  width: 100%;
  height: 7em;
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  border-top: 2px solid grey;
}

.fa-map-marker-alt {
  position: relative;
  top: 1.2em;
  font-size: 3.5em;
}

::placeholder {
  padding-left: 1.5em;
  font-size: 3em;
  font-weight: bold;
}

.explorer h1 {
  text-align: center;
  font-size: 4em;
  margin: 8% 10% 4% 10%;
}

.explorer p {
  text-align: center;
  @media (min-width: 64em) {
    font-size: 2em;
  }
}

.bouton {
  border-radius: 85px;
  margin: 5em 10em;
  padding: 2em;
  background: linear-gradient(#FF79da, #9356dc);
  text-align: center;
  a {
    color: white;
    font-weight: bold;
  }
  @media (min-width: 64em) {
    width: 30%;
    margin-left: 30%;
  }
  &:hover {
    filter: brightness(120%);
  }
}
article h2 {
  margin-left: 2em;
  margin-top: 4em;
}

.fonctionnement {
  @media (min-width: 64em){
    display: flex;
    margin-left: 10%;
  }
}
.fonctionnement li {
  background-color: #eaeaea;
  margin: 1em 3em 0em 3em;
  border-radius: 30px;
  padding: 3.5em 0;
  font-weight: bold;
  font-size: 0.9em;
  @media (min-width: 64em) {
    width: 80%;
    padding: 1em ;
    margin-left: 0.5em;
  }
  &:hover {
    background-color: #e4c7dc;
  }
}

.fonctionnement i/*icone*/ {
  color: grey;
  margin-right: 4em;
  @media (min-width: 64em) {
    margin: 0.5em;
    font-size: 2em;
  }
}

.fonctionnement a {
  color: black;
  margin-left: 5em;
  @media (min-width: 64em) {
    margin-left: 1em;
  }
}
  
.numero {
  color: white;
  display: inline;
  margin-left: -20px;
  margin-right: 5em;
  padding: 1.5em;
  font-size: 13px;
  border-radius: 50%;
  background-color: #9356dc;
  @media (min-width: 64em) {
    margin-right: 1em;
  }
}