header .logo {
  margin-left: 20%;
  margin-top: 2em;
  width: 50%;
  padding-bottom: 2em;
  @media (min-width: 1024px) {
    width: 20em;
    margin-left: 40%;
  }
}

.fa-arrow-left { /*uniquement menu resto*/
  position: absolute;
  left: 1px;
  top: 1em;
  font-size: 3em;
  margin-left: 1em;
  color: black;
}

.formulaire {/*recherche en fonction de la ville*/
  width: 100%;
  height: 8em;
  margin-top: -2em;
  text-align: center;
  background-color: $background;
  border: 1px solid $background;
  border-top: 1px solid grey;
  @media (min-width: 1024px) {
    height: 4em;
  }
}

section {     /*partie descriptif*/
  background-color: #f6f6f6;
  padding-bottom: 4em;
  padding-top: 2em;
}

.fa-map-marker-alt {
  position: relative;
  margin-left: 30%;
  top: 1em;
  font-size: 3.5em;
  @media (min-width: 1024px) {
    top: 0.7em;
    font-size: 2.5em;
    margin-left: 35%;
  }
}

::placeholder {
  padding-left: 1.5em;
  font-size: 3em;
  font-weight: bold;
}

.explorer {
  h1 {
    margin: 2em;
    text-align: center;
    font-size: 2em;
  }
  p {
    text-align: center;
    margin: 2em;
    @media (min-width: 1024px) {
      font-size: 1.2em;
    }
  }
}

.bouton {
  border-radius: 85px;
  margin: 5em 10em ;
  padding: 2em;
  background: linear-gradient($secondaire, $primaire);
  text-align: center;
  a {
    color: white;
    font-weight: bold;
  }
  @media (min-width: 1024px) {
    width: 15%;
    margin-left: 40%;
    margin-top: 2em;
    margin-bottom: 1em;
  }
  &:hover {
    filter: brightness(120%);
  }
}

article h2 {
  margin-left: 2em;
  margin-top: 4em;
  @media (min-width: 1024px) {
    margin-top: 1em;
  }
}

.fonctionnement {
  @media (min-width: 1024px){
    display: flex;
  }
  li {
    background-color: $background;
    box-shadow: 0 0 20px #0c0c0c2e;
    margin: 1em 3em 4em 3em;
    border-radius: 30px;
    padding: 3.5em 0;
    font-weight: bold;
    @media (min-width: 1024px) {
      width: 80%;
      padding: 1em ;
      margin-left: 0.5em;
    }
    &:hover {
      box-shadow: 0 0 20px $secondaire;
      background-color: $secondaire;
      filter: brightness(140%);
      -webkit-filter: brightness(140%);
}
  }
  i/*icone*/ {
    color: grey;
    margin-right: 4em;
    @media (min-width: 1024px) {
      margin: 0.5em;
      font-size: 2em;
    }
  }
  a {
    color: black;
    margin-left: 5em;
    @media (min-width: 1024px) {
      margin-left: 0.1em;
      width: 40%;
    }
  }
}

.numero {
  color: white;
  display: inline;
  margin-left: -1.5em;
  margin-right: 4em;
  padding: 1.2em;
  font-size: 1.5em;
  border-radius: 50%;
  background-color: $primaire;
  @media (min-width: 1024px) {
    margin-right: 1em;
    font-size: 1em;
  }
}