header .logo {
  margin-left: 20%;
  margin-top: 1.7em;
  width: 60%;
  @media (min-width: 1024px) {
    width: 25%;
    margin-left: 35%;
  }
}

.formulaire {/*recherche en fonction de la ville*/
  width: 99%;
  height: 3.5em;
  text-align: center;
  background-color: lightgrey;
  border: 1px solid $background;
  border-top: 1px solid grey;
}

section {     /*partie descriptif*/
  height: 20em;
  background-color: $background;
}

.fa-map-marker-alt {
  position: relative;
  margin-left: 25%;
  top: 1.2em;
  font-size: 2em;
  @media (min-width: 1024px) {
    margin-left: 40%;
  }
}

::placeholder {
  padding-left: 15%;
  font-size: 1.5em;
  font-weight: bold;
  @media (min-width: 1024px) {
    padding-left: 1%;
  }
}

.explorer {
  h1 {
    text-align: center;
    font-size: 1.4em;
    margin: 0 2em;
    padding-top: 2em;
    font-weight: bolder;
  }
  p {
    text-align: center;
    margin: 2em;
  }
}

.bouton {
  width: 60%;
  border-radius: 85px;
  margin: 3em;
  padding: 1.5em 2em;
  background: linear-gradient($secondaire, $primaire);
  text-align: center;
  a {
    color: white;
    font-size: 1.1em;
  }
  @media (min-width: 1024px) {
    width: 35%;
    margin-left: 30%;
    margin-top: 2em;
    margin-bottom: 1em;
  }
  &:hover {
    filter: brightness(110%);
    box-shadow: -5px 5px 5px gray;
    -webkit-filter: brightness(110%);
}
}

article h2 {
  margin-left: 1em;
  margin-top: 1em;
  @media (min-width: 1024px) {
    margin-top: 0;
  }
}

.fonctionnement {
  li {
    position: relative;
    width: 90%;
    padding: 1.5em 0em;
    margin-top: 2em;
    background-color: $background;
    box-shadow: -5px 5px 5px grey;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    @media(min-width: 1024px) {
      width: 30%;
      padding: 1.5em 0.5em;
      margin-right: 0.5em;
      display: inline-block;
    }
    &:hover {
      background-color: $secondaire;
      box-shadow: -5px 5px 10px $primaire;
    }
  }
  i/*icone*/ {
    font-size: 1.3em;
    margin-left: 5%;
    margin-right: 10%;
    color: grey;
  }
  a {
    color: black;
    font-weight: bold;
    margin-left: 5%;
  }
}

.numero {
  position:absolute;
  top: 30%;
  right: 97%;
  width: 15px;
  color: white;
  font-size: 0.8em;
  background-color: $primaire;
  padding: 0.5em 0.2em 0.5em 0.7em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}