.fa-arrow-left { /*fleche de retour*/
  font-size: 1.5em;
  width: 10%;
  padding-bottom: 1em;
  margin-top: 1.5em;
  color: black;
  @media (min-width: 1024px) {
    font-size: 3em;
  }
}
.logo-carte {
  position: absolute;
  top: 1%;
  width: 60%;
  margin-top: 5%;
  margin-left: 10%;
  @media (min-width: 1024px) {
    width: 40%;
    margin-left: 20%;
    margin-top: 3em;
  }
}

section img {
  width: 100%;
  object-fit: cover;
  @media (min-width: 1024px) {
    height: 25em;
  }
}

.page-menu {
  height: auto;
  background-color: $background;
  @media (min-width: 1024px) {
    height: auto;
  }
}

.carte-restaurant {
  position: relative;
  z-index: 1;
  bottom: 4em;
  padding: 1em 0 0 0.7em;
  background-color: $background;
  border-radius: 5em 5em 0 0;
  -webkit-border-radius: 5em 5em 0 0;
  -moz-border-radius: 5em 5em 0 0;
  -ms-border-radius: 5em 5em 0 0;
  -o-border-radius: 5em 5em 0 0;
  h1 {
    font-weight: lighter;
    font-size: 1.8em;
    @media (min-width: 1024px) {
      text-align: center;
      font-size: 2.5em;
    }
  }
  .icone-vide-menu {
    position: absolute;
    margin-left: 8%;
    @media (min-width: 1024px) {
      margin-left: 10%;
      bottom: 90%;
    }
    &:hover {
      opacity: 0;
    }
  }
  .icone-plein-menu {
    position: absolute;
    margin-left: 8.1%;
    opacity: 0;
    @media (min-width: 1024px) {
      margin-left: 10%;
      bottom: 90%;
    }
    &:hover {
      transform: scale(1.1);
      transition: all 0.3s linear 0.2s;
      opacity: 1;
      background: linear-gradient(to bottom, $secondaire, $primaire);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.carte-menu h2 {
  font-size: 1.3em;
  border-bottom: 3px solid $tertiaire ;
  width: 15%;
  margin-top: 2em;
  @media (min-width: 1024px) {
    font-size: 1.7em;
  }
}

@for $i from 1 through 11{  /*apparition des plats porgressive*/
  .delai-#{$i} {
    animation-delay: #{$i * .3}s;
  }
}
@keyframes apparition-progressive {
  0% {
    transform: scale(0);
}
  100% {
    transform: scale(1);
  }
}

.description-menu {
  animation-name: apparition-progressive;
  animation-duration: .5s;
  animation-fill-mode: both;
  cursor: pointer;
  position: relative;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: -5px 5px 5px grey;
  padding-left: 1em;
  margin-bottom: 1em;
  @media(min-width: 1024px) {
    width: 30%;
    margin-right: 0.5em;
    display: inline-block;
  }
    .detail-menu {
      position: relative;
    }
    h3 {
      width: 80%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 1.2em;
      padding-top: .5em;
      font-weight: bolder;
    }
    p {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-bottom: 0.5em;
      margin-top: -.5em;
      width: 80%;
      font-size: 1em;
    } 
    h4 {
      position: absolute;
      top: 30%;
      left: 85%;
      font-size: 1em;
      @media (min-width: 1024px) {
        font-size: 1.2em;
      }
    }
    .animation-container {
      transition: width .5s linear;
      height: 100%;
      width: 0;
      background-color: $tertiaire;
      border-radius: 0 20px 20px 0;
      -webkit-border-radius: 0 20px 20px 0;
      -moz-border-radius: 0 20px 20px 0;
      -ms-border-radius: 0 20px 20px 0;
      -o-border-radius: 0 20px 20px 0;
      position: absolute;
      right: 0;
      top: 0;
    }
    .fa-check-circle {
      position: absolute;
      right: 20%;
      top: 30%;
      opacity: 0;
      color: white;
      font-size: 1.5em;
      @media (min-width: 1024px) {
        font-size: 2em;
      }
    }
    &:hover {
      .fa-check-circle {
        opacity: 1;
        animation: rotation 0.5s linear ;
        -webkit-animation: rotation 0.5s linear ;
}
      .animation-container /*background icone check*/ {
        width: 15%;
      }
      p {
        width: 70%;
        transition-duration: 1s;
      }
      h4 {
        transform: translateX(-3em);
        transition-duration: 1s;
      }
    }
}

@keyframes rotation { /*rotation icone check*/
  from {
      opacity: 0;
  } 
  50% {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(360deg);
  }
}