#restaurants {
  background-color: #eaeaea;
  margin-top: 8em;
  padding-bottom: 6em;
  @media (min-width: 1024px) {
    margin-top: 3em;
    padding-bottom: 1em;
  }
  h2 {
    padding-top: 3em;
    margin-left: 2em;
    margin-bottom: 3em;
    @media (min-width: 1024px) {
      padding-top: 1em;
      margin-bottom: 1em;
    }
  }
}

.vignette-restaurant {
  width: 90%;
  margin-left: 3em;
  margin-bottom: 3em;
  position: relative;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 20px #0000002e;
  @media (min-width: 1024px) {
    display: inline-block;
    width: 20%;
    height: 15em;
  }
  img {
    width: 100%;
    height: 22em;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
    @media (min-width: 1024px) {
      height: 10em;
    }
  }
  h3 {
    margin-top: 0.5em;
    margin-left: 1.5em;
    color: black;
    @media (min-width: 1024px) {
      margin-left: 1em;
    }
  }
  h4 {
    margin-left: 1.5em;
    margin-top: -1em;
    padding-bottom: 2em;
    color: black;
    font-weight: normal;
    @media (min-width: 1024px) {
      margin-left: 1em;
      font-size: 1em;
    }
  }
}

.nouveaute p {
  background-color: #99e2d0;
  color: #008766;
  padding: 0.5em;
  position: absolute;
  font-size: 3em;
  margin-left: 65%;
  @media (min-width: 1024px) {
    font-size: 1em;
  }
}

.icone-vide {
  font-size: 4em;
  position: absolute;
  left: 85%;
  bottom: 10%;
  color: black;
  @media (min-width: 1024px) {
    font-size: 2em;
  }
  &:hover {
    opacity: 0;
  }
}

.icone-plein {
  opacity: 0;
  position: absolute;
  font-size: 4em;
  left: 85%;
  bottom: 10%;
  @media (min-width: 1024px) {
    font-size: 2.2em;
    left: 84.5%;
    bottom: 9.5%;
  }
  &:hover {
    transition: all 0.2s linear 0.2s;
    opacity: 1;
    background: linear-gradient(to bottom, #FF79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
