body {
  font-family: 'roboto' , sans-serif;
}

body a {
  text-decoration: none;
}

body li {
  list-style: none;
}

h1, .pied-de-page h3 {
  font-family: 'shrikhand' , cursive;
}

.pied-de-page {
  background-color: #353535;
  padding-bottom: 7em;
}

.pied-de-page h3 {
  color: white;
  margin-left: 3em;
  padding-top: 2em;
  font-size: 2em;
  font-weight: normal;
}

.pied-de-page a {
  color: white;
}

.pied-de-page li {
  margin-left: 3em;
  margin-bottom: 1em;
}

.pied-de-page i {
  color: white;
  padding-right: 3em;
}

header .logo {
  margin-left: 20%;
  width: 40em;
}

.fa-arrow-left {
  position: absolute;
  left: 1px;
  top: 1em;
  font-size: 3em;
  margin-left: 1em;
  color: black;
}

.contenaire-en-tete .logo {
  margin-left: 20%;
  margin-top: 2em;
  width: 50%;
  padding-bottom: 2em;
}

section {
  /*partie reservation*/
  background-color: #f6f6f6;
  padding-bottom: 2em;
}

.formulaire {
  width: 100%;
  height: 7em;
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  border-top: 2px solid grey;
}

.fa-map-marker-alt {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 6em;
  font-size: 1.5em;
}

@media (min-width: 64em) {
  .fa-map-marker-alt {
    font-size: 3em;
    top: 3em;
  }
}

::-webkit-input-placeholder {
  padding-left: 1.5em;
  font-size: 3em;
  padding-top: 1em;
  font-weight: bold;
}

:-ms-input-placeholder {
  padding-left: 1.5em;
  font-size: 3em;
  padding-top: 1em;
  font-weight: bold;
}

::-ms-input-placeholder {
  padding-left: 1.5em;
  font-size: 3em;
  padding-top: 1em;
  font-weight: bold;
}

::placeholder {
  padding-left: 1.5em;
  font-size: 3em;
  padding-top: 1em;
  font-weight: bold;
}

.explorer h1 {
  text-align: center;
  font-size: 4em;
  margin: 8% 10% 4% 10%;
}

.explorer p {
  text-align: center;
}

@media (min-width: 64em) {
  .explorer p {
    font-size: 2em;
  }
}

.bouton {
  border-radius: 85px;
  margin: 5em 10em;
  padding: 2em;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79da), to(#9356dc));
  background: linear-gradient(#FF79da, #9356dc);
  text-align: center;
}

.bouton:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0 0 20px #FF79da;
          box-shadow: 0 0 20px #FF79da;
}

.bouton a {
  color: white;
  font-weight: bold;
}

article h2 {
  margin-left: 2em;
  margin-top: 4em;
}

.fonctionnement li {
  background-color: #eaeaea;
  margin: 1em 3em 0em 3em;
  border-radius: 30px;
  padding: 3.5em 0;
  -webkit-box-shadow: 0 0 20px #00000002;
          box-shadow: 0 0 20px #00000002;
  font-weight: bold;
  font-size: 0.9em;
}

.fonctionnement i {
  color: grey;
  margin-right: 4em;
}

.fonctionnement a {
  color: black;
  margin-left: 5em;
}

.numero {
  color: white;
  display: inline;
  margin-left: -20px;
  margin-right: 5em;
  padding: 1.5em;
  font-size: 13px;
  border-radius: 50%;
  background-color: #9356dc;
}

section img {
  width: 100%;
  position: absolute;
  z-index: 0;
}

@media (min-width: 64em) {
  section img {
    width: 60%;
    height: auto;
    margin-left: 20%;
    position: none;
  }
}

.carte-restaurant {
  position: relative;
  z-index: 1;
  top: 30em;
  margin-bottom: 30em;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 10em 10em 0 0;
  padding: 1em 0 4em 0.7em;
}

.carte-restaurant h1 {
  font-size: 4em;
  margin-left: 0.5em;
}

.icone-menu-vide {
  position: absolute;
  margin-left: 15%;
}

.icone-menu-vide:hover {
  opacity: 0;
}

.icone-menu-plein {
  position: absolute;
  margin-left: 15%;
  opacity: 0;
}

.icone-menu-plein:hover {
  -webkit-transition: all 0.2s linear 0.2s;
  transition: all 0.2s linear 0.2s;
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79da), to(#9356dc));
  background: linear-gradient(to bottom, #FF79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carte-restaurant h2 {
  font-size: 3em;
  border-bottom: 3px solid #99e2d0;
  width: 10%;
  margin-top: 2em;
}

.plat {
  width: 95%;
  background-color: white;
  border-radius: 35px;
  -webkit-box-shadow: 0 0 20px #0000002e;
          box-shadow: 0 0 20px #0000002e;
  padding-left: 2em;
  padding-bottom: 1em;
}

.plat h3 {
  font-size: 2em;
  padding-top: 0.5em;
}

.plat h4 {
  margin-top: -1em;
  font-size: 0.9em;
}

.tarif {
  font-size: 3em;
  position: absolute;
  right: 1em;
}

#restaurants {
  background-color: #eaeaea;
  margin-top: 8em;
  padding-bottom: 7em;
}

@media (min-width: 64em) {
  #restaurants {
    margin-top: 4em;
  }
}

#restaurants h2 {
  padding-top: 3em;
  margin-left: 2em;
  margin-bottom: 3em;
}

.vignette-restaurant img {
  width: 100%;
  height: 22em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px 30px 0 0;
}

@media (min-width: 64em) {
  .vignette-restaurant img {
    height: 10em;
  }
}

.vignette-restaurant {
  width: 90%;
  margin-left: 3em;
  margin-bottom: 3em;
  position: relative;
  background-color: white;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 20px #0000002e;
          box-shadow: 0 0 20px #0000002e;
}

@media (min-width: 64em) {
  .vignette-restaurant {
    display: inline-block;
    width: 20%;
    height: 15em;
  }
}

.nouveaute p {
  background-color: #99e2d0;
  color: #008766;
  padding: 0.5em;
  position: absolute;
  font-size: 3em;
  margin-left: 65%;
}

@media (min-width: 64em) {
  .nouveaute p {
    font-size: 1em;
  }
}

.vignette-restaurant h3 {
  margin-top: 0.5em;
  margin-left: 1.5em;
  color: black;
}

.vignette-restaurant h4 {
  margin-left: 1.5em;
  margin-top: -1em;
  padding-bottom: 2em;
  color: black;
  font-weight: normal;
}

.icone-vide {
  font-size: 4em;
  position: absolute;
  left: 85%;
  bottom: 10%;
  color: black;
}

@media (min-width: 64em) {
  .icone-vide {
    font-size: 2em;
  }
}

.icone-vide:hover {
  opacity: 0;
}

.icone-plein {
  opacity: 0;
  position: absolute;
  font-size: 4em;
  left: 85%;
  bottom: 10%;
}

@media (min-width: 64em) {
  .icone-plein {
    font-size: 2em;
  }
}

.icone-plein:hover {
  -webkit-transition: all 0.2s linear 0.2s;
  transition: all 0.2s linear 0.2s;
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79da), to(#9356dc));
  background: linear-gradient(to bottom, #FF79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*# sourceMappingURL=style.css.map */