body {
  font-family: 'Roboto', sans-serif;
}

body a {
  text-decoration: none;
}

body li {
  list-style: none;
}

.pied-de-page h3 {
  font-family: 'Shrikhand';
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  animation: 3s accueil forwards;
  pointer-events: none;
  -webkit-animation: 3s accueil forwards;
}

@-webkit-keyframes accueil {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes accueil {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.lettre {
  margin-bottom: 5em;
  color: #9356dc;
  font-size: 3em;
  letter-spacing: 5px;
  font-family: 'shrikhand' , cursive;
  animation: .5s flash linear infinite;
  -webkit-animation: .5s flash linear infinite;
}

@-webkit-keyframes flash {
  0% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
  50% {
    color: #9356dc;
    text-shadow: 0 0 7px #ff79da;
  }
  100% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
}

@keyframes flash {
  0% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
  50% {
    color: #9356dc;
    text-shadow: 0 0 7px #ff79da;
  }
  100% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
}

.lettre:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.pied-de-page {
  background-color: #353535;
  padding-top: 1em;
  padding-bottom: 3em;
}

@media (min-width: 1024px) {
  .pied-de-page {
    padding-bottom: 1em;
  }
}

.pied-de-page h3 {
  color: white;
  margin-left: 1em;
  font-size: 2em;
  font-weight: normal;
}

.pied-de-page a {
  color: white;
}

.pied-de-page li {
  margin-left: 1em;
  margin-bottom: 1em;
}

.pied-de-page i {
  color: white;
  padding-right: 1em;
}

header .logo {
  margin-left: 20%;
  margin-top: 1.7em;
  width: 60%;
}

@media (min-width: 1024px) {
  header .logo {
    width: 25%;
    margin-left: 35%;
  }
}

.formulaire {
  /*recherche en fonction de la ville*/
  width: 99%;
  height: 3.5em;
  text-align: center;
  background-color: lightgrey;
  border: 1px solid #f6f6f6;
  border-top: 1px solid grey;
}

section {
  /*partie descriptif*/
  height: 20em;
  background-color: #f6f6f6;
}

.fa-map-marker-alt {
  position: relative;
  margin-left: 25%;
  top: 1.2em;
  font-size: 2em;
}

@media (min-width: 1024px) {
  .fa-map-marker-alt {
    margin-left: 40%;
  }
}

::-webkit-input-placeholder {
  padding-left: 15%;
  font-size: 1.5em;
  font-weight: bold;
}

:-ms-input-placeholder {
  padding-left: 15%;
  font-size: 1.5em;
  font-weight: bold;
}

::-ms-input-placeholder {
  padding-left: 15%;
  font-size: 1.5em;
  font-weight: bold;
}

::placeholder {
  padding-left: 15%;
  font-size: 1.5em;
  font-weight: bold;
}

@media (min-width: 1024px) {
  ::-webkit-input-placeholder {
    padding-left: 1%;
  }
  :-ms-input-placeholder {
    padding-left: 1%;
  }
  ::-ms-input-placeholder {
    padding-left: 1%;
  }
  ::placeholder {
    padding-left: 1%;
  }
}

.explorer h1 {
  text-align: center;
  font-size: 1.4em;
  margin: 0 2em;
  padding-top: 2em;
  font-weight: bolder;
}

.explorer p {
  text-align: center;
  margin: 2em;
}

.bouton {
  width: 60%;
  border-radius: 85px;
  margin: 3em;
  padding: 1.5em 2em;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  text-align: center;
}

.bouton a {
  color: white;
  font-size: 1.1em;
}

@media (min-width: 1024px) {
  .bouton {
    width: 35%;
    margin-left: 30%;
    margin-top: 2em;
    margin-bottom: 1em;
  }
}

.bouton:hover {
  filter: brightness(110%);
  -webkit-box-shadow: 1px 1px 20px #9356dc;
          box-shadow: 1px 1px 20px #9356dc;
  -webkit-filter: brightness(110%);
}

article h2 {
  margin-left: 1em;
  margin-top: 1em;
}

@media (min-width: 1024px) {
  article h2 {
    margin-top: 0;
  }
}

.fonctionnement li {
  position: relative;
  width: 90%;
  padding: 1.5em 0em;
  margin-top: 2em;
  background-color: #f6f6f6;
  -webkit-box-shadow: -5px 5px 5px grey;
          box-shadow: -5px 5px 5px grey;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

@media (min-width: 1024px) {
  .fonctionnement li {
    width: 30%;
    padding: 1.5em 0.5em;
    margin-right: 0.5em;
    display: inline-block;
  }
}

.fonctionnement li:hover {
  background-color: #ff79da;
  -webkit-box-shadow: -10px 10px 10px #9356dc;
          box-shadow: -10px 10px 10px #9356dc;
}

.fonctionnement i {
  font-size: 1.3em;
  margin-left: 5%;
  margin-right: 5%;
  color: grey;
}

@media (min-width: 1024px) {
  .fonctionnement i {
    margin-right: 0.5em;
  }
}

.fonctionnement a {
  color: black;
  font-weight: bold;
  margin-left: 5%;
}

.numero {
  position: absolute;
  top: 30%;
  right: 97%;
  width: 15px;
  color: white;
  font-size: 0.8em;
  background-color: #9356dc;
  padding: 0.5em 0.2em 0.5em 0.7em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.fa-arrow-left {
  /*fleche de retour*/
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  padding-bottom: 1em;
  margin-top: 1.5em;
  color: black;
}

@media (min-width: 1024px) {
  .fa-arrow-left {
    font-size: 3em;
  }
}

.logo-carte {
  width: 60%;
  margin-top: 1em;
  margin-left: 20%;
  position: absolute;
  top: 1%;
}

@media (min-width: 1024px) {
  .logo-carte {
    width: 40%;
    margin-left: 30%;
    margin-top: 3em;
  }
}

section img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1024px) {
  section img {
    height: 25em;
  }
}

.page-menu {
  height: 95em;
  background-color: #f6f6f6;
}

@media (min-width: 1024px) {
  .page-menu {
    height: auto;
  }
}

.carte-restaurant {
  position: relative;
  z-index: 1;
  bottom: 4em;
  padding: 1em 0 0 0.7em;
  background-color: #f6f6f6;
  border-radius: 5em 5em 0 0;
  -webkit-border-radius: 5em 5em 0 0;
  -moz-border-radius: 5em 5em 0 0;
  -ms-border-radius: 5em 5em 0 0;
  -o-border-radius: 5em 5em 0 0;
}

.carte-restaurant h1 {
  font-family: 'shrikhand';
  font-weight: lighter;
  font-size: 1.8em;
}

@media (min-width: 1024px) {
  .carte-restaurant h1 {
    text-align: center;
    font-size: 2.5em;
  }
}

.carte-restaurant .icone-vide-menu {
  position: absolute;
  margin-left: 8%;
}

@media (min-width: 1024px) {
  .carte-restaurant .icone-vide-menu {
    margin-left: 10%;
    bottom: 90%;
  }
}

.carte-restaurant .icone-vide-menu:hover {
  opacity: 0;
}

.carte-restaurant .icone-plein-menu {
  position: absolute;
  margin-left: 8.1%;
  opacity: 0;
}

@media (min-width: 1024px) {
  .carte-restaurant .icone-plein-menu {
    margin-left: 10%;
    bottom: 90%;
  }
}

.carte-restaurant .icone-plein-menu:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s linear 0.2s;
  transition: all 0.3s linear 0.2s;
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carte-menu h2 {
  font-size: 1.3em;
  border-bottom: 3px solid #99e2d0;
  width: 15%;
  margin-top: 2em;
}

@media (min-width: 1024px) {
  .carte-menu h2 {
    font-size: 1.7em;
  }
}

/*apparition des plats porgressive*/
.delai-1 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

/*apparition des plats porgressive*/
.delai-2 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

/*apparition des plats porgressive*/
.delai-3 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

/*apparition des plats porgressive*/
.delai-4 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

/*apparition des plats porgressive*/
.delai-5 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

/*apparition des plats porgressive*/
.delai-6 {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

/*apparition des plats porgressive*/
.delai-7 {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

/*apparition des plats porgressive*/
.delai-8 {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

/*apparition des plats porgressive*/
.delai-9 {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

/*apparition des plats porgressive*/
.delai-10 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

/*apparition des plats porgressive*/
.delai-11 {
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}

@-webkit-keyframes apparition-progressive {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes apparition-progressive {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.description-menu {
  -webkit-animation-name: apparition-progressive;
          animation-name: apparition-progressive;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  cursor: pointer;
  position: relative;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-box-shadow: 0 0 20px #0000002e;
          box-shadow: 0 0 20px #0000002e;
  padding-left: 1em;
  margin-bottom: 1em;
}

@media (min-width: 1024px) {
  .description-menu {
    width: 30%;
    margin-right: 0.5em;
    display: inline-block;
  }
}

.description-menu .detail-menu {
  position: relative;
}

.description-menu h3 {
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.2em;
  padding-top: .5em;
  font-weight: bolder;
}

.description-menu p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 0.5em;
  margin-top: -.5em;
  width: 80%;
  font-size: 1em;
}

.description-menu h4 {
  position: absolute;
  top: 30%;
  left: 85%;
  font-size: 1em;
}

@media (min-width: 1024px) {
  .description-menu h4 {
    font-size: 1.2em;
  }
}

.description-menu .animation-container {
  -webkit-transition: width .5s linear;
  transition: width .5s linear;
  height: 100%;
  width: 0;
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
  -webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  -ms-border-radius: 0 20px 20px 0;
  -o-border-radius: 0 20px 20px 0;
  position: absolute;
  right: 0;
  top: 0;
}

.description-menu .fa-check-circle {
  position: absolute;
  right: 20%;
  top: 30%;
  opacity: 0;
  color: white;
  font-size: 1.5em;
}

@media (min-width: 1024px) {
  .description-menu .fa-check-circle {
    font-size: 2em;
  }
}

.description-menu:hover .fa-check-circle {
  opacity: 1;
  animation: rotation 0.5s linear;
  -webkit-animation: rotation 0.5s linear;
}

.description-menu:hover .animation-container {
  width: 15%;
}

.description-menu:hover p {
  width: 70%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.description-menu:hover h4 {
  -webkit-transform: translateX(-3em);
          transform: translateX(-3em);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

@-webkit-keyframes rotation {
  /*rotation icone check*/
  from {
    opacity: 0;
  }
  50% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  /*rotation icone check*/
  from {
    opacity: 0;
  }
  50% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#restaurants {
  background-color: #f6f6f6;
  margin-top: 3em;
  padding-bottom: 6em;
}

#restaurants h2 {
  padding-top: 3em;
  margin-left: 1em;
  margin-bottom: 1em;
  font-weight: bolder;
}

.vignette-restaurant {
  width: 90%;
  margin-left: 1em;
  margin-bottom: 3em;
  position: relative;
  background-color: white;
  border-radius: 30px;
  -webkit-box-shadow: -5px 5px 5px lightgrey;
          box-shadow: -5px 5px 5px lightgrey;
}

@media (min-width: 1024px) {
  .vignette-restaurant {
    display: inline-block;
    margin-left: 5em;
    width: 35%;
    height: 15em;
  }
}

.vignette-restaurant:hover {
  -webkit-box-shadow: -5px 10px 10px grey;
          box-shadow: -5px 10px 10px grey;
}

.vignette-restaurant img {
  width: 100%;
  height: 12em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px 30px 0 0;
}

@media (min-width: 1024px) {
  .vignette-restaurant img {
    height: 10em;
  }
}

.vignette-restaurant h3 {
  margin-top: .5em;
  margin-left: 1em;
  color: black;
}

.vignette-restaurant h4 {
  margin-left: 1em;
  margin-top: -0.5em;
  padding-bottom: 1em;
  color: black;
  font-weight: normal;
}

@media (min-width: 1024px) {
  .vignette-restaurant h4 {
    font-size: 1em;
  }
}

.nouveaute p {
  background-color: #99e2d0;
  color: #008766;
  padding: 0.5em;
  position: absolute;
  font-size: 1em;
  margin-left: 65%;
}

.icone-vide {
  font-size: 1.7em;
  position: absolute;
  left: 85%;
  bottom: 10%;
  color: black;
}

@media (min-width: 1024px) {
  .icone-vide {
    font-size: 2em;
  }
}

.icone-vide:hover {
  opacity: 0;
}

.icone-plein {
  opacity: 0;
  position: absolute;
  font-size: 1.7em;
  left: 85%;
  bottom: 10%;
}

@media (min-width: 1024px) {
  .icone-plein {
    font-size: 2.2em;
    left: 84.5%;
    bottom: 9.5%;
  }
}

.icone-plein:hover {
  -webkit-transition: all 0.2s linear 0.2s;
  transition: all 0.2s linear 0.2s;
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*# sourceMappingURL=style.css.map */