.pied-de-page {
    background-color: #353535;
    padding-bottom: 7em;
  }
  .pied-de-page h3 {
    color: white;
    margin-left: 3em;
    padding-top: 2em;
    font-size: 2em;
    font-weight: normal;
  }
  .pied-de-page a {
    color: white;
  }
  .pied-de-page li {
    margin-left: 3em;
    margin-bottom: 1em;
  }
  .pied-de-page i {
    color: white;
    padding-right: 3em;
  }