header .logo {
    margin-left: 20%;
    width: 40em;
  }
.fa-arrow-left {
    position: absolute;
    left: 1px;
    top: 1em;
    font-size: 3em;
    margin-left: 1em;
    color: black;
  }
  .contenaire-en-tete .logo {
    margin-left: 20%;
    margin-top: 2em;
    width: 50%;
    padding-bottom: 2em;
  }