.bouton {
    border-radius: 85px;
    margin: 5em 10em;
    padding: 2em;
    background: linear-gradient(#FF79DA, #9356DC);
    text-align: center;
    a {
      color: white;
      font-weight: bold;
    }
  }
  
  