.bouton:hover {
    opacity: 0.9;
    box-shadow: 0 0 20px #9356DC;
  }
  .fonctionnement li:hover {
    background: #D8BFD8;
    -webkit-transition: background 0.6s;
    transition: background 0.6s;
    box-shadow: 0 0 20px #D8BFD8;
  }
  .icone-plein:hover {
    opacity: 1;
    position: absolute;
    font-size: 4em;
    left: 85%;
    bottom: 6%;
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  